@model List<Product>

<div class="card col-12 shadow border-0 mt-0 py-3">
    <div class="card-header bg-primary bg-gradient shadow border-0 mt-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="text-end pt-3 px-4">
        <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Create New Product
        </a>
    </div>

    <div class="card-body p-4">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Category</th>                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.OrderBy(x => x.Price))
                {
                    <tr>
                        <td>@order.Title</td>
                        <td>@order.ISBN</td>
                        <td>@order.Price</td>
                        <td>@order.Author</td>                        
                        <td>@order.Category.Name</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Product" asp-action="Upsert" asp-route-id="@order.ID" class="btn btn-info mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@order.ID" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash3"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>